GEMINI_API_KEY=
VOYAGE_API_KEY=
QDRANT_URL=https://c4810ac7-cf72-4cc8-a77f-0a82f6be3888.eu-west-2-0.aws.cloud.qdrant.io
QDRANT_API_KEY=
# Change this before any real deployment
ADMIN_API_KEY=changeme
